/* ==========================================================================
   Base Typography
   ========================================================================== */

body {
  font-family: $base-font;
  color: $text-color;
  font-size: #{$doc-font-size}px;
  line-height: #{$doc-line-height}px;
}

p {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 1em;
}

li {
  font-size: 16px;
  line-height: 24px;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  text-rendering: optimizeLegibility;
  color: $text-color;
}
h1 { font-size: 36px; }
h2 { font-size: 32px; }
h3 { font-size: 28px; }
h4 { font-size: 24px; }
h5 { font-size: 20px; }
h6 { font-size: 18px; }

/* Links */

a {
  color: $link-color;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  &:hover {
    color: darken($link-color, 20);
    border-bottom-color: darken($link-color, 20);
  }
  &:focus {
    outline: 2px solid $info-color;
    outline-offset: 2px;
  }
}

/* Quoted text */

blockquote {
  padding-left: 20px;
  padding-right: 20px;
  border-left: 6px solid $info-color;
  margin: 1.5em 0;
  p {
    font-family: $alt-font;
    font-size: 24px;
  }
}

/* Code */

tt, code, kbd, samp, pre {
  font-family: $code-font;
}
pre {
  overflow-x: auto;
  background: lighten($border-color, 5);
  padding: 15px;
  border-radius: $border-radius;
}
p code, li code {
  font-size: 16px;
  color: $text-color;
  white-space: nowrap;
  margin: 0 2px;
  padding: 0 5px;
  border: 1px solid $border-color;
  background-color: lighten($primary-color, 95);
  border-radius: $border-radius;
}

/*
   Tables
   ========================================================================== */

table {
  border-collapse: collapse;
  margin: 1em 0;
  width: 100%;
}
thead {
  tr:first-child td {
    border-bottom: 2px solid $table-border-color;
  }
}
th {
  padding: 12px;
  font-family: $alt-font;
  font-weight: bold;
  text-align: left;
  background-color: $table-header-color;
  border-bottom: 1px solid darken($border-color, 15%);
}
td {
  border-bottom: 1px solid $border-color;
  padding: 12px;
}
tr, td, th {
  vertical-align: middle;
}
tbody tr:hover > td, tbody tr:hover > th {
  background-color: $table-hover-color;
}

/* Horizontal rules */

hr {
  display: block;
  position: relative;
  margin: 2em 0;
  padding: 0;
  height: 5px;
  border: 0;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 1px;
    background: $border-color;
  }
}

/*
   Navigation
   ========================================================================== */

nav {
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}

/*
   Global transitions
   ========================================================================== */

b, i, strong, em, blockquote, p, q, span, figure, img, h1, h2, header, input, a, tr, td, .highlight {
  transition: color 0.2s ease-out, opacity 0.2s ease-out, background 0.2s ease-out, border-color 0.2s ease-out;
}
